<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- launch args -->
  <arg name="launch_prefix" default=""/>
  <arg name="use_zed" default="true"/>
  <arg name="use_tiny" default="false"/>

  <!-- Topic to subscribe to -->
  <arg name="image" default="/camera_array/cam0/image_raw" unless="$(arg use_zed)"/>
  <arg name="image" value="/zed/zed_node/left/image_rect_color" if="$(arg use_zed)"/>
  <!-- <arg name="image" value="/front_camera_rgb/image_raw" if="$(arg use_zed)"/> -->

  <!-- Which network to use (large or tiny) -->
  <arg name="network_param_file" default="$(find darknet_ros)/config/yolov3_fs.yaml" unless="$(arg use_tiny)"/>
  <arg name="network_param_file" value="$(find darknet_ros)/config/yolov3_fs_tiny.yaml" if="$(arg use_tiny)"/>

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path" default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path" default="$(find darknet_ros)/yolo_network_config/cfg"/>

  <!-- ROS parameter file -->
  <arg name="ros_param_file" default="$(find darknet_ros)/config/ros.yaml"/>
  <param name="/darknet_ros/pub_rate" value="10"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(arg ros_param_file)"/>
  <rosparam command="load" ns="darknet_ros" file="$(arg network_param_file)"/>

  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
    <remap from="camera/rgb/image_raw"  to="$(arg image)" />
  </node>
</launch>
